In [56]:
import pandas as pd
import numpy as np

In [57]:
df_rainfall = pd.read_csv('Hoppers Crossing-Hourly-Rainfall.csv')

In [58]:
df_rainfall.head(5)

        Date/Time  Current rainfall (mm)  Cumulative rainfall (mm)
0  02-12-18 18:00                    0.0                       0.0
1  02-12-18 17:00                    0.0                       0.0
2  02-12-18 16:00                    0.0                       0.0
3  02-12-18 15:00                    0.0                       0.0
4  02-12-18 14:00                    0.0                       0.0

In [59]:
df_riverlevel=pd.read_csv('Hoppers Crossing-Hourly-River-Level.csv')
df_riverlevel.head(5)

        Date/Time  Level (m)
0  02-12-18 17:00       1.61
1  02-12-18 16:00       1.61
2  02-12-18 15:00       1.62
3  02-12-18 14:00       1.63
4  02-12-18 13:00       1.63

In [60]:
print(df_rainfall.shape)  
df_rainfall.describe()

(78848, 3)

       Current rainfall (mm)  Cumulative rainfall (mm)
count           78844.000000              78847.000000
mean                0.049206                  0.586580
std                 0.765296                  2.770216
min                 0.000000                  0.000000
25%                 0.000000                  0.000000
50%                 0.000000                  0.000000
75%                 0.000000                  0.000000
max               110.000000                111.400000

In [61]:
print(df_riverlevel.shape)  
df_riverlevel.describe()

(78822, 2)

          Level (m)
count  78822.000000
mean       1.453701
std        0.113859
min        0.000000
25%        1.400000
50%        1.450000
75%        1.500000
max        3.300000

In [62]:
df = pd.merge(df_rainfall, df_riverlevel, how='outer', on=['Date/Time'])

In [63]:
df.head(10)

        Date/Time  Current rainfall (mm)  Cumulative rainfall (mm)  Level (m)
0  02-12-18 18:00                    0.0                       0.0        NaN
1  02-12-18 17:00                    0.0                       0.0       1.61
2  02-12-18 16:00                    0.0                       0.0       1.61
3  02-12-18 15:00                    0.0                       0.0       1.62
4  02-12-18 14:00                    0.0                       0.0       1.63
5  02-12-18 13:00                    0.0                       0.0       1.63
6  02-12-18 12:00                    0.0                       0.0       1.63
7  02-12-18 11:00                    0.0                       0.0       1.63
8  02-12-18 10:00                    0.0                       0.0       1.63
9   02-12-18 9:00                    0.0                       6.4       1.63

In [64]:
df["Date/Time"] = df["Date/Time"].str.replace("00:00", "")
df["Date/Time"] = pd.to_datetime(df["Date/Time"])

In [65]:
df.head()

,Date/Time,Current rainfall (mm),Cumulative rainfall (mm),Level (m)
0,2018-02-12 18:00:00,0.0,0.0,NaN
1,2018-02-12 17:00:00,0.0,0.0,1.61
2,2018-02-12 16:00:00,0.0,0.0,1.61
3,2018-02-12 15:00:00,0.0,0.0,1.62
4,2018-02-12 14:00:00,0.0,0.0,1.63

In [66]:
df.isna().sum()

Date/Time                    0
Current rainfall (mm)        6
Cumulative rainfall (mm)     2
Level (m)                   25
dtype: int64

In [67]:
df.fillna(0, inplace=True )

In [68]:
df.head()

,Date/Time,Current rainfall (mm),Cumulative rainfall (mm),Level (m)
0,2018-02-12 18:00:00,0.0,0.0,0.00
1,2018-02-12 17:00:00,0.0,0.0,1.61
2,2018-02-12 16:00:00,0.0,0.0,1.61
3,2018-02-12 15:00:00,0.0,0.0,1.62
4,2018-02-12 14:00:00,0.0,0.0,1.63

In [69]:
x = df.iloc[:, 1:2].values
y = df.iloc[:, 1:3].values

In [70]:
print(x)
print(y)

[[0.]
 [0.]
 [0.]
 ...
 [0.]
 [0.]
 [0.]]
[[0.  0. ]
 [0.  0. ]
 [0.  0. ]
 ...
 [0.  0.2]
 [0.  0.2]
 [0.  0.2]]

In [71]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [72]:
from sklearn.linear_model import LinearRegression
flood_model= LinearRegression()  
flood_model.fit(x_train, y_train)

LinearRegression()

In [80]:
#y_pred = flood_model.predict(x_test) 
Rainfall_Amount= 3.4
Rainfall_Amount=Rainfall_Amount.reshape(-1, 1)

In [81]:
predicted_riverlevel = flood_model.predict(Rainfall_Amount)
print(predicted_riverlevel)
if (predicted_riverlevel > 1.5):
  print("FLOOD")
else:
  print("No FLOOD")

ValueError: Expected 2D array, got 1D array instead:
array=[3.4].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.