In [3]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import cross_val_score

In [4]:
df = pd.read_csv('train.csv')

In [5]:
df.head(5)

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [6]:
df.label.head(5)

0    1
1    0
2    1
3    1
4    1
Name: label, dtype: int64

In [7]:
df.label.value_counts()

1    10413
0    10387
Name: label, dtype: int64

In [8]:
df.isna().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [9]:
df.fillna("missing", inplace=True )

In [10]:
df.isna().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [11]:
df.head(5)

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [12]:
df.drop('author', axis='columns', inplace=True)

In [13]:
df.head(5)

,id,title,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Print \nAn Iranian woman has been sentenced to...,1

In [14]:
df["titleandtext"] = df['title'].astype(str) +" "+ df["text"]

In [15]:
df.head(5)

,id,title,text,label,titleandtext
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,House Dem Aide: We Didn’t Even See Comey’s Let...,1,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Ever get the feeling your life circles the rou...,0,"FLYNN: Hillary Clinton, Big Woman on Campus - ..."
2,2,Why the Truth Might Get You Fired,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You Fired Why the Trut...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Videos 15 Civilians Killed In Single US Airstr...,1,15 Civilians Killed In Single US Airstrike Hav...
4,4,Iranian woman jailed for fictional unpublished...,Print \nAn Iranian woman has been sentenced to...,1,Iranian woman jailed for fictional unpublished...

In [16]:
df.drop(['title', 'text'], axis='columns', inplace=True)

In [17]:
df.head(5)

   id  label                                       titleandtext
0   0      1  House Dem Aide: We Didn’t Even See Comey’s Let...
1   1      0  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2   2      1  Why the Truth Might Get You Fired Why the Trut...
3   3      1  15 Civilians Killed In Single US Airstrike Hav...
4   4      1  Iranian woman jailed for fictional unpublished...

In [18]:
target= df.label
target.head(5)

0    1
1    0
2    1
3    1
4    1
Name: label, dtype: int64

In [19]:
df.head(5)

   id  label                                       titleandtext
0   0      1  House Dem Aide: We Didn’t Even See Comey’s Let...
1   1      0  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2   2      1  Why the Truth Might Get You Fired Why the Trut...
3   3      1  15 Civilians Killed In Single US Airstrike Hav...
4   4      1  Iranian woman jailed for fictional unpublished...

In [20]:
x_train,x_test,y_train,y_test=train_test_split(df.titleandtext, df.label, test_size=0.25)

In [21]:
tfidf_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.75)

In [22]:
vec_train = tfidf_vectorizer.fit_transform(x_train.values.astype("U"))
vec_test = tfidf_vectorizer.transform(x_test.values.astype("U"))

In [23]:
print(vec_train.toarray())

MemoryError: Unable to allocate 18.3 GiB for an array with shape (15600, 157652) and data type float64

In [ ]:
model=MultinomialNB()

In [ ]:
model.fit(vec_train, y_train)

In [ ]:
testnews=[
    '15 Civilians Killed In Single US Airstrike',
    'killed killed killed killed'
]
vec_news = tfidf_vectorizer.transform(testnews)
model.predict(vec_news)

In [ ]:
score = model.score(vec_test, y_test)
print(f"FND Accuracy: {round(score*100,2)}%")

In [ ]:
from sklearn.pipeline import Pipeline

In [ ]:
clf=Pipeline([
    ('vectorizer', TfidfVectorizer(stop_words='english', max_df=0.75)),
('nb',MultinomialNB())
])

In [ ]:
clf.fit(x_train, y_train)''

In [ ]:
clf.score(x_test, y_test)

In [ ]:
clf.predict(testnews)

In [ ]:
import joblib

In [ ]:
joblib.dump(clf, 'clf.sav')

In [ ]:
joblib.dump(tfidf_vectorizer, 'vectorizer.sav')

In [ ]:
joblib.dump(model,'model.sav')